@model HomeVM

    @foreach (Course course in Model.Courses)
    {
        <li><a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id">@course.Name</a></li>
    }
    @foreach (Teacher teacher in Model.Teachers)
    {
        <li><a asp-controller="Teacher" asp-action="Detail" asp-route-id="@teacher.Id">@teacher.Name @teacher.Surname</a></li>
    }
    @foreach (Blog blog in Model.Blogs)
    {
        <li><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></li>
    }
    @foreach (Event evnts in Model.Events)
    {
        <li><a asp-controller="Event" asp-action="Detail" asp-route-id="@evnts.Id">@evnts.Title</a></li>
    }
