@model HomeVM

@if (Model.Courses != null)
{
    foreach (Course course in Model.Courses)
    {
        <li><a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id">@course.Name</a></li>
    }
}
@if (Model.Teachers != null)
{
    foreach (Teacher teacher in Model.Teachers)
    {
        <li><a asp-controller="Teacher" asp-action="Detail" asp-route-id="@teacher.Id">@teacher.Name @teacher.Surname</a></li>
    }
}
@if (Model.Blogs != null)
{
    foreach (Blog blog in Model.Blogs)
    {
        <li><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Title</a></li>
    }
}
@if (Model.Events != null)
{
    foreach (Event evnts in Model.Events)
    {
        <li><a asp-controller="Event" asp-action="Detail" asp-route-id="@evnts.Id">@evnts.Title</a></li>
    }
}
