@model NoticeVM
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="notice-right-wrapper mb-25 pb-25">
        <h3>TAKE A VIDEO TOUR</h3>
        <div class="notice-video">
            <div class="video-icon video-hover">
                <a class="video-popup" href="@Model.HomeVideo.VideoLink">
                    <i class="zmdi zmdi-play"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="notice-left-wrapper">
        <h3>notice board</h3>
        <div class="notice-left">
            @foreach (Notice notice in Model.Notices)
            {
                <div class="single-notice-left mb-23 pb-20">
                    <h4>@notice.AddedTime.Day, @notice.AddedTime.ToString("MMMM") @notice.AddedTime.Year</h4>
                    <p>@notice.Content </p>
                </div>
            }
        </div>
    </div>
</div>
