@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (Slider slider in Model.Sliders)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url(assets/img/slider/@slider.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        @Html.Raw(slider.Title)
                                        <p>@Html.Raw(slider.Subtitle)</p>
                                        <a class="default-btn" asp-controller="About">Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="slider-img">
                                    <img src="~/assets/img/slider/home.png" alt="slider">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->
        }
    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Course", 3)
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
<section class="notice-area two three pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.HomeVideos.VideoLink">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @foreach (Notice notice in Model.Notices)
                        {
                            <div class="single-notice-left mb-23 pb-20">
                                <h4>@notice.AddedTime.Day, @notice.AddedTime.ToString("MMMM") @notice.AddedTime.Year</h4>
                                <p>@notice.Content </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- About Start -->
@await Component.InvokeAsync("About", 1)
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Event", 3)
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area three pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/assets/img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog", 3)
        </div>
    </div>
</div>
<!-- Blog Area End -->
