@model Blog

@{
    ViewData["Title"] = "Delete";
}
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/assets/img/blog/@Model.Image" width="100%" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@Model.Title</h2>
                        <p>By @Model.ByName  /  @Model.AddedTime.ToString("MMMM") @Model.AddedTime.Day, @Model.AddedTime.Year  /  <i class="fa fa-comments-o"></i> 4</p>
                        @Html.Raw(Model.BlogDetail.Description)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-danger">Are you sure?</h4>
                <form method="post">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly" role="alert"></div>
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                <a asp-action="Index" class="btn btn-outline-secondary mt-4">Go Back</a>
            </div>
        </div>
    </div>
</div>