@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Slider Table</h4>
                <a asp-controller="Blogs" asp-action="Create" class="btn btn-rounded btn-outline-success">
                    <i class="mdi mdi-plus-circle-outline" style="font-size: 15px;"> Add Blog</i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th> Title </th>
                            <th> ByName </th>
                            <th> AddedTime </th>
                            <th> Settings </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (Blog blog in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/assets/img/blog/@blog.Image" style="width:100px; height:100px" />
                                    </td>
                                    <td class="py-1">
                                        <div>@blog.Title</div>
                                    </td>
                                    <td class="py-1">
                                        <div>@blog.ByName</div>
                                    </td>
                                    <td class="py-1">
                                        <div>@blog.AddedTime.ToString("MMMM") @blog.AddedTime.Day, @blog.AddedTime.Year</div>
                                    </td>
                                    <td>
                                        <a asp-controller="Blogs" asp-action="Detail" asp-route-id="@blog.Id" class="btn btn-rounded btn-outline-info">
                                            <i class="mdi mdi-information-outline"></i>
                                        </a>
                                        <a asp-controller="Blogs" asp-action="Update" asp-route-id="@blog.Id" class="btn btn-rounded btn-outline-warning">
                                            <i class="mdi mdi-table-edit"></i>
                                        </a>
                                        <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@blog.Id" class="btn btn-rounded btn-outline-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>