@model List<Teacher>
@{
    ViewData["Title"] = "Index";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Slider Table</h4>
                <a asp-controller="Teacher" asp-action="Create" class="btn btn-rounded btn-outline-success">
                    <i class="mdi mdi-plus-circle-outline" style="font-size: 15px;"> Add Teacher</i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th> Name Surname </th>
                            <th> Position </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (Teacher teacher in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/assets/img/teacher/@teacher.Image" style="width:100px; height:100px" />
                                    </td>
                                    <td class="py-1">
                                        <div>@teacher.Name @teacher.Surname</div>
                                    </td>
                                    <td class="py-1">
                                        <p>@teacher.Position</p>
                                    </td>
                                    <td>
                                        <a asp-controller="Teacher" asp-action="Detail" asp-route-id="@teacher.Id" class="btn btn-rounded btn-outline-info">
                                            <i class="mdi mdi-information-outline"></i>
                                        </a>
                                        <a asp-controller="Teacher" asp-action="Update" asp-route-id="@teacher.Id" class="btn btn-rounded btn-outline-warning">
                                            <i class="mdi mdi-table-edit"></i>
                                        </a>
                                        <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@teacher.Id" class="btn btn-rounded btn-outline-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
