@model CourseCategoryVM

@{
    ViewData["Title"] = "Create";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Course</h4>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.Course.Photo"></label><span class="text-danger">*</span>
                    <input asp-for="@Model.Course.Photo" accept="image/*" class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.Course.Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.Name"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.Name" placeholder="Course Name">
                    <span class="text-danger" asp-validation-for="@Model.Course.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.Description"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.Description" placeholder="Description">
                    <span class="text-danger" asp-validation-for="@Model.Course.Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.CourseAbout"></label>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.CourseAbout" placeholder="Course About">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.CourseAbout"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.HowToApply"></label>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.HowToApply" placeholder="How To Apply">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.HowToApply"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.Certification"></label>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.Certification" placeholder="Certification">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.CourseStartDate"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.CourseStartDate" placeholder="Course Start Date">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.CourseStartDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.CourseDuration"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.CourseDuration" placeholder="Course Duration">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.CourseDuration"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.ClassDuration"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.ClassDuration" placeholder="Class Duration">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.ClassDuration"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.SkillLevel"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.SkillLevel" placeholder="Skill Level">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.SkillLevel"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.Language"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.Language" placeholder="Language">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.Language"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.StudentsCount"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.StudentsCount" placeholder="Students Count">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.StudentsCount"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.Assessment"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.Assessment" placeholder="Assessment">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.Assessment"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Course.CourseDetail.Price"></label><span class="text-danger">*</span>
                    <input class="form-control" asp-for="@Model.Course.CourseDetail.Price" placeholder="Price">
                    <span class="text-danger" asp-validation-for="@Model.Course.CourseDetail.Price"></span>
                </div>
                @foreach (Category ctg in Model.CategoriesView)
                {
                    <div class="mt-3 form-group">
                        <input type="checkbox" name="categories" value="@ctg.Id" /> @ctg.Name
                    </div>
                }
                <button type="submit" class="btn btn-outline-primary mr-2">Submit</button>
                <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPatial" />
}